<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/main.css">
    <link rel="stylesheet" href="/public/styles/admin-panel/panel-login.css">
    <title>3$</title>
</head>
<body id="login-page">
    <div id="container">
        <div class="logo-login">
            <img src="/public/images/online-store.png" />
        </div>

        <div class="painel-login">
            <form action="">
                <fieldset>
                    <legend>3$: Small Sales System </legend>
                    <div id="campo">
                        <label for="user">Usuário:</label> <br>
                        <input type="email" name="user" id="user" required>
                    </div>

                    <div id="campo">
                        <label for="password">Senha:</label> <br>
                        <input type="text" name="password" id="password" required>
                    </div>
                </fieldset>
                <button type="submit" id="btn-login">Entrar</button>
            </form>
        </div>
    </div>
</body>
</html>